<launch>
  
  <arg name="model" default="$(find urdf_tutorial)/urdf/01-myfirst.urdf"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find lab3)/urdf/$(arg model)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="NONKDL_DKIN" pkg="lab3" type="nonkdl.py"/>
  <node name="KDL_DKIN" pkg="lab3" type="kdl.py"/>

</launch>
